<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
    <error-page>
        <exception-type>org.apache.shiro.session.InvalidSessionException</exception-type>
        <location>/Html/logout.jsp</location>
    </error-page>
    <!--1.1-->
<!--    <filter>
        <filter-name>iniShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.IniShiroFilter</filter-class>
        <init-param>
            <param-name>configPath</param-name>
            <param-value>classpath:shiro.ini</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>iniShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
-->
<!--1.2-->
    <!--初始化 environment 获取 context-Param-->
    <listener>
        <listener-class>org.apache.shiro.web.env.EnvironmentLoaderListener</listener-class>
    </listener>
    <!--指定webEnvironment 类-->
    <context-param>
        <param-name>shiroEnvironmentClass</param-name>
        <param-value>org.apache.shiro.web.env.IniWebEnvironment</param-value>
    </context-param>
    <!--指定配置文件路径,如果没有配置 默认为WEB-INF/shiro.ini-->
    <context-param>
        <param-name>shiroConfigLocations</param-name>
        <param-value>classpath:conf/chapter10/shiro.ini</param-value>
        <!--<param-value>classpath:conf/chapter7/shiro.ini</param-value>-->
        <!--<param-value>classpath:conf/chapter8/shiro.ini</param-value>-->
    </context-param>

    <filter>
        <filter-name>ShiroFilter</filter-name>
        <filter-class>org.apache.shiro.web.servlet.ShiroFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>ShiroFilter</filter-name>
        <url-pattern>/*</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!-- 如果采用ServletContainerSessionManager进行会话管理,可以在web.xml中进行配置 -->
    <!--<session-config>-->
        <!--<session-timeout>30</session-timeout>-->
    <!--</session-config>-->

    <servlet>
        <servlet-name>shrio</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>
                <!--classpath*:conf/chapter*/*.xml,-->
                classpath*:spring*.xml
            </param-value>
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>shrio</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>


</web-app>